body {
  margin: 0;
  background: #0b132b;
  font-family: serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.text {
  font-size: 28px;
  text-align: center;
  max-width: 80%;
  line-height: 1.4;
}

.hint {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.5;
}
